    <html lang="PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        
        <body>
           <fieldset></fieldset>
             <legend>curriculo</legend>
             <form action="curriculo.php" method="post"
         Nome Completo:<input type="text" name=""mahlength="10" minlength="5" placeholder="Nome Completo">
             <inout type="submit" value="Cadastrar">

Nome completo:<input type="text"><br>
Numero: <input type="info">< br
data de nascimento: <input type="date"><
Genero: M <input type="radio"> F <input type="radio"
